/* custom css */
.ml-auto, .mx-auto{
    margin-left: auto!important;
}

.bg-color{
    background-color: #FCEAE8;
}

.bg-c-color1{
    background-color: #FFA500;
}

.bg-c-color2{
    background-color: #DA70D6;
}

.bg-c-color3{
    background-color: #0000FF;
}